body::before {

    background: url(./japwave.jpg) center;
    filter: blur(2px);
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
}

.container {
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
}

#display {
    height: 100px;
    width: 406px;
    border-radius: 10px;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-top: 10px solid yellow;
    border-left: 10px solid yellow;
}

#input {
    height: 50px;
    background-color: white;
    text-align: right;
    font-size: xx-large;
}

#output {
    height: 50px;
    background-color: white;
    text-align: right;
    font-size: xx-large;
}

.row > button {
    height: 80px;
    width: 100px;
    margin: 2px;
    border-radius: 10px;
    border: 5px solid black;
    font-weight: bold;
    
}

button:hover {
    border-bottom: 5px solid yellow;
    transition: 0.3s;
    border-right: 5px solid yellow;
}
