body::before {
    background: url(./japwave.jpg) center;
    filter: blur(2px);
    content: "";
    left: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fllex {
    display: flex;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row > button {
    height: 98px;
    width: 25%;
    margin: 1px;
    border-radius: 10px;
    border: 5px solid black;
    font: 1rem;
    font-weight: 700;
}

button:hover {
    border-bottom: 5px solid yellow;
    transition: 0.3s;
    border-right: 5px solid yellow;
}

#display {
    height: 100px;
    width: 40%;
    border-radius: 15px;
    border-bottom: 10px solid black;
    border-right: 10px solid black;
    border-top: 10px solid yellow;
    border-left: 10px solid yellow;
}

#input {
    height: 50%;
    background-color: white;
    text-align: right;
    font-size: 2rem;
}

#output {
    height: 50%;
    background-color: white;
    text-align: right;
    font-size: 2rem;
}

#all-row
{
    height: 500px;
    width: 40%;
}
